.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 2rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1000;
}

.navbar-logo img {
  height: 40px;
  display: block;
  margin-right: 44rem;
}

.navbar-links {
  display: flex;
  gap: 3rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-links a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #e9d4ab;
  text-decoration: none;
}

.navbar-links a:hover {
  color: white;
}
